<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> Reviews </title>
    
    <!-- style -->
    <link rel="stylesheet" href="/css/allReviews.css">

</head>
<body>
    <h1>See all reviews for <%= name %> </h1>
    <section class="section-center">
        <ul>
            <% for (let review of reviews) { %> 
                <li>Review by:--><span><%= review.user_name %></span></li>
                <br>
                    <span>--><%= review.review %></span>
                <br>
                <br>
                <br>
                <br> 
            <% } %>
        </ul>
        <i class="like" onclick="like()"></i>
        <i class="dislike" onclick="dislike()"></i>
    </section>
    <div class="button">
        <button> <a href="/<%= name%>" style="text-decoration: none; color:greenyellow;"> Back to <%= name %> home page</a></button>
    </div>
    <script>
        var color1 = document.getElementsByClassName('like')[0];
        var color2 = document.getElementsByClassName('dislike')[0];
        function like() {
            color1.style.color = color1.style.color === 'blue' ? 'white': 'blue';
            color2.style.color = 'black';
        }
        
        function dislike() {
            color1.style.color = 'black';
            color2.style.color = color2.style.color === 'red' ? 'black' : 'red';
        }
    </script>
</body>
</html>