<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- style -->
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    </style>
    <h1><u>Games --></u></h1>
    <h2><%= games %> </h2>
    <% for (let game=0;game<games.length;game++) { %> 
        <section class="games-section">
            <a href="/<%= games[game].name %>" target="_blank">
                    <img src="images/<%= games[game].name %>.jpg" alt="<%= games[game].name %>"> 
            </a>
            <section class="desc"><%= games[game].name %></section>
        </section>
    <% } %>
</body>
</html>